<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Person Info View</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p>Personデータ表示:</p>

    <p th:text="${results}" />

<hr />

<p>Personデータ追加:</p>

<form method="POST" action="/post">
  名前: <input type="text" name="name" /><br />
  電話: <input type="text" name="tel" /><br />
  mail: <input type="text" name="mail" /><br />
  備考: <input type="text" name="description" /><br />
  <input type="submit" value="登録" />
</form>

<hr />

<p>Personデータ検索:</p>

<form method="POST" action="/find">
 <select name="category">
 <option value="name"> 名前</option>
 <option value="tel"> 電話</option>
 <option value="mail"> mail</option>
 <option value="description"> 備考</option>
</select>
が
 <input type="text" name="str" />
のものを
 <input type="submit" value="検索" />
</form>


</body>
</html>